.categoriesPage {
  position: relative;
  width: 100%;
  height: 100%;
  background: #FBFAFF;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 50px 40px;
}

.title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  text-transform: capitalize;

  color: #000000;

  margin-right: 30px;
}

.bachArrow {
  top: 20px;
  left: 50px;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

}

.buttonsSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*   margin: 20px 89px;  */
}

.addCategoryButton {
  width: 250px;
  height: 30px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #000000;
  background: none;
  border: none;
  cursor: pointer;
}

.ownWordsButton {
  width: 250px;
  height: 30px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #000000;
  text-decoration: none;
}

.wordCountSection {
  display: flex;
  justify-content: space-between;
  margin: 20px 89px;
}

.totalWordCount {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.5);
}
.addButton{
  height: 70px !important;
  width: 70px !important;
  margin-left: 20px;
  background-color: #ffff;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 49px;
text-align: center;
text-transform: capitalize;
border-radius: 20px;
color: #000000;


}
.addButton svg{
  width: 37px;
  min-width: 37px;
  height: 37px;
  min-height: 37px;
}
.percentage {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.5);
}

.categoryList {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 0px;

}

.categoryButton {
  box-sizing: border-box;
  width: 100%;
  height: 87px;
  padding: 30px 20px;
  margin-bottom: 10px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000000;
  text-decoration: none;
  background: #FFFFFF;
  border: 1px solid #F9F9F8;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  transition: background-color 0.3s;
  cursor: pointer;
}
.categoryButton span{
  width: 200px;
}
.categoryButton:hover {
  background-color: #F0F0F0;
}

.wordCount {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.percentage {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.showOverlay {
  opacity: 1;
  pointer-events: auto;
}