.registerPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.inputRow{
    margin: 45px 0;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.button {

   width: 445px;
   height: 110px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
    background: #fff;


    filter: drop-shadow(0px 8px 5px rgba(0, 0, 0, 0.25));
}


.title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #000000;
}

.siteHeader {


    font-family: 'Hahmlet';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 101px;

    color: #6DACE7;


}