.adminPanel {
  padding: 40px;
  font-family: 'Inter';
  font-style: normal;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.logoutButton {
  background-color: #698AFE;
  color: white;
  border: none;
  font-size: 2em;
  padding: 20px 40px;
  cursor: pointer;
  border-radius: 35px;
}

.adminEmail {
  font-weight: bold;
  font-size: 1.5em;
}

.userTable {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.5em;
}
tr> td{
  text-align: center;
  max-width: 200px;
  word-wrap: break-word; /* Или используйте overflow-wrap: break-word; */
  word-break: break-all;
  height: 50px;
  
}
th{
  text-align: center;
}
.userTable th,
.userTable td {
  border: 1px solid #ddd;
  padding: 16px;
}

.userTable th {
  background-color: #f2f2f2;

/*   display: flex; */
/*   flex-direction: row; */

}
.passwordRow{
  display: flex;
  flex-direction: row;
  justify-content:center;
  column-gap: 10px;
  align-items: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: #fff;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

.confirmDeleteButton {
  background-color: #698AFE;
  color: white;
  border: none;
  font-size: 1.5em;
  padding: 20px 40px;
  cursor: pointer;
  border-radius: 35px;
  margin-top: 20px;
}

.confirmDeleteButton:hover {
  background-color: #698AFE;
}


.actionIcon{
  width: 85px;
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.actionIcon {

}

.buttonRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
}


.eyeIcon{
  cursor: pointer;
}